*{
    padding: 0px;
    margin: 0px;
}
.medida {
    background: goldenrod;
    height: 100%;
    width: 483;
    
}
.title{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration:underline;
    background-color: goldenrod;
}
.colorMain {
    background-color: f8f9fA;
    size-adjust: auto;
} 

.colorNav {
    background-color: goldenrod;
}
.carousel-inner {
    height: 65vh;
    width: 100%;
    background-color: f8f9fA;
    
}

.tamanioCarousel {
    height: 100%;
    width: 100%;
    
}


@media (max-width:576px){
    #intro {
        
        width: 100%;
    }
    .tamanioCarousel{
        height: 50vh;
    }
   
        .card-body {
            width: 100%;
        }
        
    
}

.card-img-top {
    
    height: 16rem;
    width: 27rem;
    justify-content: center;
    align-content: center;
    justify-items: center;

}

.card-body{
    background-color: goldenrod;
    width: 100%;
    height: 20vh;
    
}

.colorFooter{
 background-color: f8f9fA;
    
}
.text-muted{
    display: flex;
    text-align: center;
    justify-content: center;
    size-adjust: auto;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    size-adjust: auto;
}

.card-title
  {
    display: flex;
    text-decoration:underline;
    justify-content: center;
}

.card-group {
    margin-left: 5px;
}

.title2{
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 40px;
    text-decoration: underline;
    
}
